Repository hmcts/pip-account-management, pull requests merged in 2021-11, with the labels that each got.

#14 PUB-903 update infra to use new infra
  Dockerfile
  charts/pip-account-management/Chart.yaml
  charts/pip-account-management/values.yaml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/config/AzureConfigurationClientTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/AzureConfigurationClient.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/TableConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/ErroredSubscriber.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/Subscriber.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AzureTableService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/account/management/config/AzureConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AzureTableServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-14

#15 Pre-Release
  Dockerfile
  charts/pip-account-management/Chart.yaml
  charts/pip-account-management/values.yaml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/config/AzureConfigurationClientTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/AzureConfigurationClient.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/TableConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/ErroredSubscriber.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/Subscriber.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AzureTableService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/account/management/config/AzureConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AzureTableServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-15

#16 PUB-883 - Change infra
  charts/pip-account-management/Chart.yaml
  charts/pip-account-management/values.yaml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-16
