Repository hmcts/pip-account-management, pull requests merged in 2022-09, with the labels that each got.

#96 Force upgrade snakeyaml version for CVE-2022-25857
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-96

#90 PUB-1521 Service-to-service fix
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/WebClientConfig.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/config/WebClientCreationTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-90

#98 List types updated
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/ListType.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/SensitivityServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-98

#89 PUB-1476 Updated app insight name
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-89

#88 PUB-1213 to PUB-1217 Handling of inactive AAD admin and IDAM user account notification and deletion
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/flyway/FlywayNoOpStrategy.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/database/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/PiUser.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/errored/ErroredPiUser.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountVerificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/helpers/DateTimeHelper.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1.3__pi_user_last_sign_in_date_set.sql
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountVerificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/SchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/helpers/DateTimeHelperTest.java
  src/test/resources/application-test.yaml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-88

#94 PUB-1430 - Conditional Validation for user emails
  build.gradle
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/AzureAccount.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/PiUser.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/validation/annotations/AzureEmail.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/validation/annotations/PiEmailConditionalValidation.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/validation/validator/AzureEmailValidator.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/validation/validator/ConditionalEmailValidator.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/validation/validator/AzureEmailValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/validation/validator/ConditionalEmailValidatorTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-94

#95 PUB-1526 Add SJP press register
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/ListType.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-95

#97 PUB-1527 Add scheduling endpoints
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountVerificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/MediaApplicationService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountVerificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/MediaApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/SchedulerTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-97

#99 PUB-1546 Add scheduling endpoints for AAD admin and IDAM inactive users
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountVerificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountVerificationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-99

#100 Added new list types
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/ListType.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-100

#102 Updated cron timer
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-102
