Repository hmcts/pip-account-management, pull requests merged in 2022-10, with the labels that each got.

#103 PUB-1569 Updated cron job and logic
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/MediaApplicationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/MediaApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/SchedulerTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-103

#105 Pub 1548 media filesize
  config/owasp/suppressions.xml
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-105

#106 PUB-1568 - Updated Date Time
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/PiUser.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/helpers/DateTimeHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/helpers/DateTimeHelperTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-106

#107 CVE-2022-42889
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-107

#104 PUB-1529 - Removed scheduling from Account Management
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountVerificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/MediaApplicationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountVerificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/MediaApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/SchedulerTest.java
  src/test/resources/application-test.yaml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-104
