Repository hmcts/pip-account-management, pull requests merged in 2022-05, with the labels that each got.

#42 PUB-1084 service to service
  build.gradle
  charts/pip-account-management/Chart.yaml
  charts/pip-account-management/values.yaml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/authentication/roles/IsAdmin.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/SpringSecurityConfig.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountController.java
  src/main/resources/application-dev.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/account/management/config/SpringSecurityConfigTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/config/SwaggerConfigurationTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-42

#47 PUB-961 - Updated config for B2C
  charts/pip-account-management/Chart.yaml
  charts/pip-account-management/values.dev.template.yaml
  charts/pip-account-management/values.yaml
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-47

#43 PUB-1079 - Backend table for AAD Applications
  README.md
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaLegalApplicationTest.java
  src/integrationTest/resources/files/test-image.png
  src/main/java/uk/gov/hmcts/reform/pip/account/management/Application.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/AzureBlobConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/AzureBlobConfigurationProperties.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaLegalApplicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/database/AzureBlobService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/database/MediaLegalApplicationRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/exceptions/FileException.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/MediaAndLegalApplication.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/MediaAndLegalApplicationDto.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/MediaLegalApplicationStatus.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/MediaLegalApplicationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/account/management/config/AzureBlobConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaLegalApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/database/AzureBlobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/helper/MediaLegalApplicationHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/MediaLegalApplicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-43

#49 PUB-961 Add env to secret values names
  charts/pip-account-management/Chart.yaml
  charts/pip-account-management/values.yaml
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-49

#46 Pub 1066 Media account creation
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  charts/pip-account-management/Chart.yaml
  charts/pip-account-management/values.yaml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/AzureAccount.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-46

#52 PUB-1330 Add App Insights Key
  charts/pip-account-management/Chart.yaml
  charts/pip-account-management/values.yaml
  lib/AI-Agent.xml
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-52
