Repository hmcts/pip-account-management, pull requests merged in 2022-12, with the labels that each got.

#138 PUB-1638 - Added MV refresh
  README.md
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/ViewTest.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/ViewController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/database/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/ViewService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/ViewControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/ViewServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-138

#101 PUB-942 - Updated to accept users name for CFT
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/database/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/PiUser.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/errored/ErroredPiUser.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountVerificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/PublicationService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountVerificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-101

#156 Updated suppressions
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-156

#142 PUB-1598 Upgrade HMCTS logging components to latest version
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-142

#153 PUB-1624 - Create System admin
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/functionalTest/resources/add-system-admin.sql
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/database/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/exceptions/SystemAdminAccountException.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/AzureAccount.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/SystemAdminAccount.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/errored/ErroredSystemAdminAccount.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/SystemAdminAccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/validation/annotations/NotSystemAdmin.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/validation/validator/NotSystemAdminValidatorAzureAccount.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/exceptions/CustomExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/model/SystemAdminAccountTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/SystemAdminAccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/validation/validator/NotSystemAdminValidatorTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-153

#158 PUB-1745 - Recreate MV
  infrastructure/tf-db-main.tf
  src/main/resources/db/migration/V1.5__add-created-date-to-mv.sql
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-158, destroy

#159 PUB-1745 - Re-add role
  infrastructure/tf-db-main.tf
Labels: ns:pip, prd:pip, add-or-update, rel:pip-account-management-pr-159

#154 PUB-1057 Admin management
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/database/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/helpers/EmailHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/Roles.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/helper/EmailHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-154

#160 PUB-1678 Java 17 upgrade
  .github/workflows/ci.yml
  Dockerfile
  build.gradle
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/config/AzureBlobConfigurationTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/config/AzureConfigurationClientTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/config/SwaggerPublisherTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/GetWelcomeTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/SensitivityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/ViewTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/SensitivityService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/config/AzureBlobConfigurationTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/config/AzureConfigurationClientTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/config/WebClientTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/SubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-160

#162 Update suppressions
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-162
