Repository hmcts/pip-account-management, pull requests merged in 2022-04, with the labels that each got.

#32 PUB-1239 Add new Database and Charts update
  .gitignore
  Jenkinsfile_CNP
  build.gradle
  charts/pip-account-management/values.dev.template.yaml
  charts/pip-account-management/values.yaml
  config/owasp/suppressions.xml
  infrastructure/.terraform-version
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/providers.tf
  infrastructure/state.tf
  infrastructure/stg.tfvars
  infrastructure/tf-db-main.tf
  infrastructure/tf-db-secrets.tf
  infrastructure/variables.tf
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-32

#34 Updated build gradle and fixed dependency issue
  build.gradle
  charts/pip-account-management/values.yaml
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-34

#35 PUB-1239 - Add dedicated Database
  .gitignore
  Jenkinsfile_CNP
  build.gradle
  charts/pip-account-management/Chart.yaml
  charts/pip-account-management/values.dev.template.yaml
  charts/pip-account-management/values.yaml
  config/owasp/suppressions.xml
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/providers.tf
  infrastructure/state.tf
  infrastructure/tf-db-main.tf
  infrastructure/tf-db-secrets.tf
  infrastructure/variables.tf
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-35

#40 added owasp supporession for spring plugin
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-40

#41 Merge Demo
  .gitignore
  Jenkinsfile_CNP
  README.md
  charts/pip-account-management/Chart.yaml
  charts/pip-account-management/values.dev.template.yaml
  config/owasp/suppressions.xml
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/providers.tf
  infrastructure/stg.tfvars
  infrastructure/tf-db-main.tf
  infrastructure/tf-db-secrets.tf
  infrastructure/variables.tf
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/ClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/UserConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/database/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/exceptions/ForbiddenPermissionsException.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/AzureAccount.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/errored/ErroredAzureAccount.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/errored/ErroredPiUser.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/errored/ErroredSubscriber.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AzureUserService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/validation/annotations/ValidName.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/validation/validator/NameValidator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AzureUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/validation/validator/NameValidatorTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-41

#33 DEMO PR - DO NOT DELETE
  .gitignore
  Jenkinsfile_CNP
  README.md
  charts/pip-account-management/Chart.yaml
  charts/pip-account-management/values.dev.template.yaml
  config/owasp/suppressions.xml
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/providers.tf
  infrastructure/stg.tfvars
  infrastructure/tf-db-main.tf
  infrastructure/tf-db-secrets.tf
  infrastructure/variables.tf
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/ClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/UserConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/database/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/exceptions/ForbiddenPermissionsException.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/AzureAccount.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/errored/ErroredAzureAccount.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/errored/ErroredPiUser.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/errored/ErroredSubscriber.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AzureUserService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/validation/annotations/ValidName.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/validation/validator/NameValidator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AzureUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/validation/validator/NameValidatorTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-33

#37 PUB-1113 - Updated gradle and helm
  build.gradle
  charts/pip-account-management/Chart.yaml
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-37
