Repository hmcts/pip-account-management, pull requests merged in 2022-11, with the labels that each got.

#109 PUB-1608 - Added System Admin role + removed supressions
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/Roles.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-109

#110 PUB-1597 Spring Updates
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/OpenApiConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/RootController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/AzureAccount.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/PiUser.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/account/management/config/SwaggerConfigurationTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-110

#108 PUB-1551 Update MI data generation
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-108

#115 CVE-31690, CVE-31692 and CVE-42252 fixes and suppression
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-115

#114 Added dependabot
  .github/dependabot.yml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-114

#113 PUB-1589 - Updated flyway
  README.md
  charts/pip-account-management/Chart.yaml
  charts/pip-account-management/values.dev.template.yaml
  charts/pip-account-management/values.yaml
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-113

#112 PUB-1595 - Updated README + Materialised view
  README.md
  src/main/resources/db/migration/V1.4__create-materialised-view.sql
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-112

#134 PUB-1595 - Updated infrastructure
  infrastructure/main.tf
  infrastructure/providers.tf
  infrastructure/tf-db-main.tf
  infrastructure/tf-db-secrets.tf
Labels: ns:pip, prd:pip, add-or-update, rel:pip-account-management-pr-134

#135 PUB-1613 System Admin User management dashboard
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/database/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/PiUser.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/Roles.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/UserProvenances.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AzureUserService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AzureUserServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-135

#137 PUB-1611 - 3rd party
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/database/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-137

#141 CVE-2022-41946 Upgrade postgresql dependency
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-141
