Repository hmcts/pip-account-management, pull requests merged in 2022-07, with the labels that each got.

#56 PUB-1254 Media User Emails
  README.md
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/functionalTest/resources/csv/invalidCsv.txt
  src/functionalTest/resources/csv/invalidEmail.csv
  src/functionalTest/resources/csv/mediaEmailOnly.csv
  src/functionalTest/resources/csv/valid.csv
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/ClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AzureUserService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/PublicationService.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/reform/pip/account/management/services/TestClass.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AzureUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-56

#69 Fix functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-69

#71 Update master branch
  README.md
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-71

#70 PUB-1187 Add creation date to account user table
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/PersistenceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/PiUser.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/errored/ErroredPiUser.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-70

#75 Updated Chart
  charts/pip-account-management/Chart.yaml
  charts/pip-account-management/values.dev.template.yaml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-75

#76 Pub 1246 COP Schema
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/ListType.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-76

#77 Merge Develop to Master
  charts/pip-account-management/Chart.yaml
  charts/pip-account-management/values.dev.template.yaml
  infrastructure/providers.tf
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/PersistenceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/PiUser.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/errored/ErroredPiUser.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-77
