Repository hmcts/pip-account-management, pull requests merged in 2022-08, with the labels that each got.

#78 PUB-1478 Mask logs
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/SensitivityTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/MediaApplicationService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-78

#86 CVE-2022-31197 Update postgresql dependency to 42.4.1
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-86

#79 PUB-1464 Email fix for Media user already exists
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-79

#80 Media email verification flow
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  charts/pip-account-management/Chart.yaml
  charts/pip-account-management/values.dev.template.yaml
  charts/pip-account-management/values.yaml
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/flyway/FlywayConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/flyway/FlywayNoOpStrategy.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/flyway/PendingMigrationScriptException.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/database/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/PiUser.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/errored/ErroredPiUser.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountVerificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AzureUserService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/SubscriptionService.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1.1__pi_user_last_verified_date_set.sql
  src/test/java/uk/gov/hmcts/reform/pip/account/management/config/flyway/FlywayConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/config/flyway/FlywayNoOpStrategyTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/config/flyway/PendingMigrationScriptExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AzureUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/SchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/SubscriptionServiceTest.java
  src/test/resources/application-test.yaml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-80

#84 PUB 1318 Media verification link up
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/database/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-84

#93 Trigger build
  README.md
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-93
