Repository hmcts/pip-account-management, pull requests merged in 2023-03, with the labels that each got.

#232 PUB-1910 - Updated dependencies
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-232

#229 PUB-1828 Log info when finding user by provenance ID
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/exceptions/UserWithProvenanceNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/exceptions/CustomExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-229

#230 PUB-1807 - Changing of own account
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/exceptions/ForbiddenPermissionsException.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/exceptions/ForbiddenRoleUpdateException.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/exceptions/CustomExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-230

#231 PUB-1896 Enhance audit log viewer
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AuditTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AuditController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/database/AuditRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/AuditLog.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/AuditLogDto.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AuditService.java
  src/main/resources/db/migration/V1.6__add_role_provenance_to_audit_log.sql
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/AuditControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AuditServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-231

#236 Upgrade springboot version for CVE-2023-28708
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-236

#234 PUB-1912 - README updates
  README.md
  account-man-arch.png
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-234
