Repository hmcts/pip-account-management, pull requests merged in 2023-01, with the labels that each got.

#163 Merge Freeze to Master
  .github/workflows/ci.yml
  Dockerfile
  build.gradle
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/config/AzureBlobConfigurationTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/config/AzureConfigurationClientTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/config/SwaggerPublisherTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/GetWelcomeTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/SensitivityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/ViewTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/database/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/AzureAccount.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/errored/ErroredAzureAccount.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/SensitivityService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/SystemAdminAccountService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/config/AzureBlobConfigurationTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/config/AzureConfigurationClientTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/config/WebClientTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/SubscriptionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/SystemAdminAccountServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-163

#182 Added suppression
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-182

#165 PUB-1740 Remove Code Smells
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/AzureConfigurationClient.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/ViewController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/exceptions/SystemAdminAccountException.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/Roles.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/errored/ErroredAzureAccount.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/errored/ErroredPiUser.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/MediaApplicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/SensitivityService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/SystemAdminAccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/validation/validator/AzureEmailValidator.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/validation/validator/ConditionalEmailValidator.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/config/AzureBlobConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/config/AzureConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/config/flyway/FlywayNoOpStrategyTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/helper/EmailHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/model/errored/ErroredAzureAccountTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/model/errored/ErroredPiUserTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/MediaApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/SystemAdminAccountServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-165

#177 PUB-1634 Added functional tests for the 'Unauthorized' status code
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountUnauthorisedTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-177

#183 PUB-1288 Create media application validation
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/MediaApplicationDto.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/validation/annotations/ValueOfEnum.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/validation/validator/ValueOfEnumValidator.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/validation/validator/ValueOfEnumValidatorTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-183

#184 PUB-1733 Azure account creation refactoring
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-184

#185 PUB-1778 Refactor account controller and account service
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountUnauthorisedTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AzureAccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/BulkAccountCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/CustomAccountRetrievalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/GetWelcomeTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/InactiveAccountManagementTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/SensitivityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/SystemAdminAccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/ViewTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountFilteringController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AzureAccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/BulkAccountCreationController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/InactiveAccountManagementController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/SystemAdminAccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountFilteringService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AzureAccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AzureUserService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/BulkAccountCreationService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/InactiveAccountManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/MediaApplicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/SensitivityService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/SystemAdminAccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/validation/validator/ConditionalEmailValidator.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/validation/validator/NotSystemAdminValidatorAzureAccount.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountFilteringControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/AzureAccountControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/BulkAccountCreationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/InactiveAccountManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/SystemAdminAccountControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountFilteringServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AzureAccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/BulkAccountCreationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/InactiveAccountManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/MediaApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/SystemAdminAccountServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-185

#189 PUB-1774 functional test for GetImageById
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-189

#187 PUB-1768 Add SSCS daily list - additional hearings
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/ListType.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/SensitivityServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-187

#191 PUB-1734 Media reporting slow response time
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/MediaApplicationService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/MediaApplicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-191

#196 Fix Owasp Dependency to latest
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-196
