Repository hmcts/pip-account-management, pull requests merged in 2023-07, with the labels that each got.

#288 Fix CVE-2023-2976 and suppress CVE-2023-34462
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-288

#284 PUB-1995 Add testing support endpoints
  README.md
  charts/pip-account-management/Chart.yaml
  charts/pip-account-management/values.dev.template.yaml
  charts/pip-account-management/values.stg.template.yaml
  charts/pip-account-management/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/TestingSupportApiTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/database/MediaApplicationRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/MediaApplicationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/TestingSupportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/MediaApplicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-284

#304 PUB-2079 Update dependencies + gradle
  build.gradle
  charts/pip-account-management/Chart.yaml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-304

#309 Ignore trailing slash in spring boot v3 endpoints
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/WebConfiguration.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-309

#311 Updated nightly build
  Jenkinsfile_nightly
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-311

#287 PUB-1793 Use Azure MI default Azure credential for blob access
  README.md
  charts/pip-account-management/Chart.yaml
  charts/pip-account-management/values.yaml
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/AzureBlobConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/AzureBlobConfigurationProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/account/management/config/AzureBlobConfigurationTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-287

#313 Fixed vulnurability
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-313
