Repository hmcts/pip-account-management, pull requests merged in 2023-08, with the labels that each got.

#310 PUB-2054 - Update pip-data-models version
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-310

#312 PUB-2084 - Updated App Insights to use connection string
  Dockerfile
  README.md
  charts/pip-account-management/Chart.yaml
  charts/pip-account-management/values.yaml
  lib/AI-Agent.xml
  lib/applicationinsights.json
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-312

#326 PUB-2120 Add new testing support endpoint to create account
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/TestingSupportApiTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AzureAccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/AzureAccount.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/errored/ErroredAzureAccount.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AzureAccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AzureUserService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/BulkAccountCreationService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/SystemAdminAccountService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/AzureAccountControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/TestingSupportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AzureAccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AzureUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/BulkAccountCreationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/SystemAdminAccountServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-326

#328 Fixed spring CVE
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-328
