Repository hmcts/pip-account-management, pull requests merged in 2023-04, with the labels that each got.

#233 PUB-1693 Move shared model classes to pip-data-models
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AuditTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AzureAccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/CustomAccountRetrievalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/SensitivityTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/authentication/roles/IsAdmin.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountFilteringController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AuditController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AzureAccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/BulkAccountCreationController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/InactiveAccountManagementController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/SystemAdminAccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/ViewController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/database/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/AuditLog.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/AuditLogDto.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/AzureAccount.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/PiUser.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/Roles.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/Sensitivity.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/SystemAdminAccount.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/model/UserProvenances.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountFilteringService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountModelMapperService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AzureAccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/SensitivityService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/SubscriptionService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/SystemAdminAccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/validation/validator/ConditionalEmailValidator.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/validation/validator/NotSystemAdminValidatorAzureAccount.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountFilteringControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/SystemAdminAccountControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/model/SystemAdminAccountTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountFilteringServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountModelMapperServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AzureAccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AzureUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/BulkAccountCreationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/InactiveAccountManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/SensitivityServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/SystemAdminAccountServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/validation/validator/ConditionalEmailValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/validation/validator/NotSystemAdminValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/validation/validator/ProvenanceUserIdValidatorTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-233

#235 PUB-1056 - Rejection reasons
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/MediaApplicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/PublicationService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/MediaApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/PublicationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-235

#252 PUB-1991 - Update to trigger rebuild
  README.md
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-252

#255 Update spring boot version to fix CVE-2023-20863
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-255
