Repository hmcts/pip-account-management, pull requests merged in 2024-05, with the labels that each got.

#411 PUB-2352 Restrict third party user creation to SYSTEM_ADMIN only
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/CustomAccountRetrievalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/SensitivityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/SystemAdminAccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/TestingSupportApiTest.java
  src/functionalTest/resources/add-admin-users.sql
  src/functionalTest/resources/add-system-admin.sql
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AuthorisationService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AuthorisationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-411

#413 PUB-2447 - Dependency updates
  build.gradle
  config/owasp/suppressions.xml
  infrastructure/.terraform-version
  infrastructure/providers.tf
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountFilteringServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountServiceTest.java
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update, rel:pip-account-management-pr-413

#412 PUB-1661 Allow system admin to update and delete third party users
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AuthorisationService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AuthorisationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-412

#417 PUB-2458 Update pip-data-models with new audit actions
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-417

#415 PUB-2468 Update pip-data-models with new list type SJP Delta Public List
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-415
