Repository hmcts/pip-account-management, pull requests merged in 2024-01, with the labels that each got.

#385 PUB-2245 - Updated README
  README.md
  charts/pip-account-management/Chart.yaml
  charts/pip-account-management/values.yaml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-385

#386 PUB-2182 add terraform_format.yml
  .github/workflows/terraform_format.yml
  infrastructure/providers.tf
  infrastructure/tf-db-flexible.tf
Labels: ns:pip, prd:pip, add-or-update, rel:pip-account-management-pr-386

#393 Merge code freeze branch to Master
  .github/workflows/terraform_format.yml
  README.md
  charts/pip-account-management/Chart.yaml
  charts/pip-account-management/values.yaml
  infrastructure/providers.tf
  infrastructure/tf-db-flexible.tf
Labels: ns:pip, prd:pip, add-or-update, rel:pip-account-management-pr-393

#392 PUB-2279 Fix sonarqube code smells
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountFilteringController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AzureAccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/BulkAccountCreationController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/InactiveAccountManagementController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/SystemAdminAccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/ViewController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountFilteringService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AuthorisationService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AzureAccountService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AzureUserService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/BulkAccountCreationService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/PublicationService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/SubscriptionService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/ViewService.java
Labels: ns:pip, prd:pip, add-or-update, rel:pip-account-management-pr-392

#394 PUB-2133 - Updated spring
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, enable_keep_helm, rel:pip-account-management-pr-394
