Repository hmcts/pip-account-management, pull requests merged in 2024-12, with the labels that each got.

#457 PUB-2573 - Added functional tests for Applications
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/utils/FunctionalTestBase.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-457

#450 PUB-2249 - Refactor MI Endpoints to use Models
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/CustomAccountRetrievalTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountFilteringController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/database/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountFilteringService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountFilteringServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-450

#464 Revert "PUB-2249 - Refactor MI Endpoints to use Models"
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/CustomAccountRetrievalTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountFilteringController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/database/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountFilteringService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountFilteringServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-464

#463 PUB-2574 - Add functional tests for system admin and bulk creation
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/BulkAccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/SystemAdminAccountCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/SystemAdminB2CAccountCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/utils/FunctionalTestBase.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/BulkAccountCreationController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/SystemAdminAccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/SystemAdminB2CAccountController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountService.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-463

#451 PUB-1909 View Audit Logs
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AuditTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AuditController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/database/AuditRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AuditService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/AuditControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AuditServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-451

#466 Updated max system admin accounts staging
  charts/pip-account-management/values.stg.template.yaml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-466

#468 PUB-2572 - Functional Tests
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/BulkAccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/FunctionalAccountControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/FunctionalAccountFilteringControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/FunctionalAzureAccountControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/SystemAdminAccountCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/SystemAdminB2CAccountCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/utils/AccountHelperBase.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/utils/CustomPageImpl.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/utils/FunctionalTestBase.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-468

#465 PUB-2575 Add functional test for inactive accounts
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/InactiveAccountsManagementTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-465

#455 PUB-2584 Mock external services for account-management integration tests
  Jenkinsfile_CNP
  README.md
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/config/AzureBlobConfigurationTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/config/AzureConfigurationClientTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AuditTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AzureAccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/BulkAccountCreationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/CustomAccountRetrievalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/InactiveAccountManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/SensitivityTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/SystemAdminAccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/SystemAdminB2CAccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/TestingSupportApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/ViewTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/utils/IntegrationBasicTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/utils/IntegrationTestBase.java
  src/integrationTest/resources/application-integration-basic.yaml
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/AzureBlobConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/AzureConfigurationClient.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/PersistenceConfiguration.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-455
