Repository hmcts/pip-account-management, pull requests merged in 2024-11, with the labels that each got.

#446 PUB-2565 - Move functional to integration tests
  Jenkinsfile_CNP
  README.md
  build.gradle
  charts/pip-account-management/Chart.yaml
  charts/pip-account-management/values.dev.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/utils/AuthException.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/utils/FunctionalTestBase.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/utils/OAuthClient.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/config/AzureBlobConfigurationTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/config/AzureConfigurationClientTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AuditTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AzureAccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/BulkAccountCreationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/CustomAccountRetrievalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/InactiveAccountManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/SensitivityTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/SystemAdminAccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/SystemAdminB2CAccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/TestingSupportApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/ViewTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/model/CustomPageImpl.java
  src/integrationTest/resources/add-admin-users.sql
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/csv/invalidCsv.txt
  src/integrationTest/resources/csv/invalidEmail.csv
  src/integrationTest/resources/csv/mediaEmailOnly.csv
  src/integrationTest/resources/csv/valid.csv
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/AzureBlobConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/AzureBlobConfigurationProperties.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/AzureConfigurationClient.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/account/management/config/AzureBlobConfigurationTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-446

#448 PUB-2650 - Updated tests + dependencies
  build.gradle
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  infrastructure/.terraform-version
  infrastructure/providers.tf
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AuditTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/CustomAccountRetrievalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/InactiveAccountManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/TestingSupportApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/ViewTest.java
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update, rel:pip-account-management-pr-448

#449 Fixed functional tests
  charts/pip-account-management/Chart.yaml
  charts/pip-account-management/values.dev.template.yaml
  charts/pip-account-management/values.yaml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-449

#453 PUB-2581 - Remove SpringBootTest annotation from unit tests
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/SubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-453

#452 PUB-2579 Add account-management data repository tests
  README.md
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/database/AuditRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/database/MediaApplicationRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/database/UserRepositoryTest.java
  src/integrationTest/resources/application-integration-jpa.yaml
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/AzureBlobConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/AzureConfigurationClient.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-452

#454 Merge Freeze into master
  README.md
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/database/AuditRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/database/MediaApplicationRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/database/UserRepositoryTest.java
  src/integrationTest/resources/application-integration-jpa.yaml
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/AzureBlobConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/config/AzureConfigurationClient.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/PublicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/SubscriptionServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-454
