Repository hmcts/pip-account-management, pull requests merged in 2025-08, with the labels that each got.

#549 PUB-2981 - Updated spring + suppressions
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-549

#548 PUB-2923 - Refactored test classes
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/AccountFilteringTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/AccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/AuditCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/AzureAccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/BulkAccountTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/InactiveAccountsManagementTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/MediaApplicationCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/SubscriptionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/SystemAdminAccountCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/SystemAdminB2CAccountCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/utils/AccountHelperBase.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/utils/FunctionalTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/AuditTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/MediaApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/TestingSupportApiTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/ViewTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/account/AccountIsAuthorisedTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/account/AccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/account/AzureAccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/account/BulkAccountCreationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/account/CustomAccountRetrievalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/account/InactiveAccountManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/account/SystemAdminAccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/account/SystemAdminB2CAccountTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/subscription/SubscriptionChannelTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/subscription/SubscriptionListTypeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/subscription/SubscriptionLocationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/subscription/SubscriptionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/utils/IntegrationBasicTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/utils/IntegrationTestBase.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-548

#553 PUB-2960 Add Magistrates Adult Court List
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-553

#546 PUB-2472 Update account deletion to include past dates
  README.md
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/database/UserRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/database/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/account/InactiveAccountManagementService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/account/InactiveAccountManagementServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-546
