Repository hmcts/pip-account-management, pull requests merged in 2025-02, with the labels that each got.

#480 PUB-2708 - Added new MI endpoint
  build.gradle
  charts/pip-account-management/values.dev.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/FunctionalAccountFilteringControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/CustomAccountRetrievalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/database/UserRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountFilteringController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/database/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountFilteringService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountFilteringControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountFilteringServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-480

#488 PUB-2729 Add dbserver link and scripts to create table
  infrastructure/tf-db-flexible.tf
  src/main/resources/db/migration/V1.7__add_subscription_table.sql
  src/main/resources/db/migration/V1.8__add_mv-sdp-subscription.sql
  src/main/resources/db/migration/V1.9__add_subscription_list_type_table.sql
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update, rel:pip-account-management-pr-488

#492 PUB-2708 - Fixed integration test
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/database/UserRepositoryTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-492

#501 PUB-2752 Add account smoke tests
  build.gradle
  src/smokeTest/java/uk/gov/hmcts/reform/pip/account/management/SmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/pip/account/management/TestClass.java
  src/smokeTest/java/uk/gov/hmcts/reform/pip/account/management/utils/OAuthClient.java
  src/smokeTest/java/uk/gov/hmcts/reform/pip/account/management/utils/SmokeTestBase.java
  src/smokeTest/java/uk/gov/reform/pip/account/management/services/TestClass.java
  src/smokeTest/resources/test-image.png
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-501

#493 PUB-2758 Monthly dependency update
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  infrastructure/.terraform-version
  infrastructure/providers.tf
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update, rel:pip-account-management-pr-493

#495 PUB-2755 Add SSCS Daily Hearing Lists
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-495

#494 PUB-2756 - Changes to First Tier Tribunal Hearing lists
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-494

#503 PUB-2768 Removed previous version of MI data endpoint
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/CustomAccountRetrievalTest.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountFilteringController.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/database/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/AccountFilteringService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/controllers/AccountFilteringControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/AccountFilteringServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-503
