Repository hmcts/pip-account-management, pull requests merged in 2025-03, with the labels that each got.

#504 PUB-2739 Add Asylum Support Tribunal Daily Hearing List
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-504

#447 PUB-2638 - Update data models version number
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-447

#508 PUB-2728 - Added integration tests + Updated validation
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/subscription/SubscriptionListTypeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/controllers/subscription/SubscriptionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/database/SubscriptionListTypeRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/database/SubscriptionRepositorySearchTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/account/management/database/SubscriptionRepositoryTest.java
  src/integrationTest/resources/application-integration-jpa.yaml
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/subscription/SubscriptionListTypeService.java
  src/main/java/uk/gov/hmcts/reform/pip/account/management/service/subscription/SubscriptionService.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/subscription/SubscriptionListTypeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/account/management/service/subscription/SubscriptionServiceTest.java
Labels: ns:pip, prd:pip, stg/add-or-update, prod/add-or-update, rel:pip-account-management-pr-508

#509 PUB-2827 - Updated Helm Chart
  build.gradle
  charts/pip-account-management/Chart.yaml
Labels: ns:pip, prd:pip, rel:pip-account-management-pr-509
